
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.font-family{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
  *{
    margin: 0;
    padding: 0;
    
  }
  body{
    background: rgb(0, 0, 0);
  }
  header{
    max-width: 1640px;
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
  }
  /* sheard style */
  .container ,.header-container{
    max-width: 1060px;
    margin: 100px auto;
    

  }
  .header-container{
    margin: 0 auto;
    padding-top: 50px;
  }
  .btn-primary {
    border-radius: 42px;
    padding: 16px 40px;
    border: none;
    background: rgb(230, 83, 60);color: rgb(255, 255, 255);
    font-weight: 600;
  }
  /* nav related style */
  nav{
    display: flex;
    justify-content: space-between;
  }
  .nav-title{
    color: rgb(230, 83, 60);
    font-size: 2rem;
    font-weight: 800;
  }
  nav ul{
    display: flex;
    align-items: center;
  }
  nav ul li{
    margin-right: 45px;
    list-style: none;
  }
  nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.rem;
    font-weight: 600;
    line-height: 22px;

  }
.menu{
    display: none;
}
  .home{
    color: rgb(255, 255, 255);
    padding: 8px 20px;
    background: rgb(230, 83, 60);
    border-radius: 30px;
  }
  /* banner related style */
  .banner{  
    display: flex;
    gap: 80px;
    margin-top: 50px;
  }
  
  .banner-title{
    width: 520px;
    margin-top: 50px;
    color: rgb(255, 255, 255);
    font-size: 5rem;
    font-weight: 900;
    line-height: 120%;
    
  }
  .banner-discription{
    width: 520px;
    margin-top: 28px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    line-height: 24px;

  }
  .banner-img img{
    width: 100%;
  }
  .input-btn{
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .Download{
    margin-top: 28px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    padding: 16px 40px;
    font-weight: 600;
    background: none;
    color: rgb(255, 255, 255);
    


  }
  .input-btn input{
    margin-top: 20px;

  }
  /* habits section style */
  .habits-title ,.teams-title{
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
    text-align: center;
  }
  .habits-discription ,.teams-discription{
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    line-height: 24px;
    text-align: center;
  }
  .habits-container{
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    justify-content: center;
  }

  .habits-img-contant img{
    border-radius: 50%;
    justify-content: center;
    align-items: center;

  }
  .habits-img-contant h5{
    margin:20px auto;
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 120%;
    margin-left: 40px;
    
    
  }
 .time{
  padding-left: 35px;
 }
  .habits-img-contant p{
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 18px;
    letter-spacing: 0.3px;
    
  }
/* run related style */
.run{
    padding:40px 55px 30px ;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    margin-top:100px ;
    display: flex;
    gap: 50px;
}
.run-title{
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;

}
.run-discription{
    margin-top: 20px ;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.85rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;

}
.run-img img{
  width: 100%;
  border-radius: 18px;
}
.run-contant button{
  margin-top: 35px;
}
/* bmi style */
.bmi-container{
  display: flex;
  gap: 170px;
}
.bmi-section{
  max-width: 1640px;
  background: rgb(34, 34, 34);
}
.bmi-chart,
.bmi-calculate{
  padding: 50px 0;
}
.bmi-chart{
  width: 40%;
}
.bmi-chart-title{

  color: rgb(255, 255, 255);
  font-size: 1.85rem;
  font-weight: 900;
  line-height: 120%;
}
.bmi-chart table, th,tr,td{
  margin-top: 70px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-collapse: collapse;
  padding: 20px;

}
.bmi-chart td,tr{
  border-collapse: collapse;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
  text-align: left;
}
.bmi-chart th{
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 500;
  line-height: 120%;
  text-align: left;
}
.bmi-calculate-discription{
  color: rgba(255, 255, 255, 0.5);
  margin: 15px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.bmi-input button ,.select-btn select, .select select {
  width: 50%;
  margin-top: 20px;
  padding: 12px 20px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  border: none;
  text-align: left;
}
.button ,.select-btn{
 
  display: flex;
  gap: 10px;
}
.select select{
  width: 100%;
  margin-top: 0;
}
.Calculate{
  margin-top: 30px;
}

/* our tems style */
.tems-img-container{
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}
.tems-img{
  position: relative;
 
}
.tems-contant{
  position: absolute;
  margin-top: -100px;
  margin-left: 40px;
}
.tems-img img{
  width: 100%;
  height: 100%;
  filter: brightness(70%);
  border-radius: 18px;
  background: rgba(0, 0, 0, 0.2);
}
.tems-contant h5{
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: 700;
}
.tems-contant p{
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 300;
  opacity: 0.7;
}
/* footer style */
footer{
  max-width: 1640px;
  background: rgba(255, 255, 255, 0.1);
}
.footer-container{
  padding: 50px 0 0 0;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 100px;
  align-items: center;
}

.footer-contant h4{
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: 700;
  line-height: 120%;

}
.footer-contant a{
  margin-top: 20px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 120%;

}
.footer-contant h1{
  color: rgb(230, 83, 60);;
  font-size: 4rem;
  font-weight: 800;
  line-height: 120%;

}
 .footer-contant p{
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.3px;
 }
 .footer .footer-p{
  height: auto;
  padding-top: 40px;
  border-top: 2px solid white;
  padding-bottom: 40px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  
 }
 
  /* responsive style */
@media screen and (max-width:576px){
    nav ul li a{
        display: none;
    }
    .nav-title{
      margin-left: 20px;
    }
    .menu{
        display: block;
        font-size: 2rem;
    }
    .banner ,
    .run,
    .bmi-container{
      flex-direction: column;
    }
    .banner-contant{
      padding:0 20px;
    }
    .banner-title {
      width: 80%;
      font-size: 3rem;
      
    }
    .banner-discription{
      width: 80%;
    }
    .habits-container{
      grid-template-columns: 1fr;
       gap: 30px;
      justify-items: center;
    }
    .habits-title ,.teams-title{
      font-size: 2rem;
    }
    .run-contant button{
      width: 100%;
    }
    .run-title{
      font-size: 2.50rem;
    }
    .tems-img-container,
    .footer-container{
      grid-template-columns: 1fr;
    }
    .footer-container{
      padding: 30px;
      gap: 20px;
    }
    .bmi-container{
      gap: 0;
      padding: 30px;
    }
    .bmi-chart{
      width: 100%;
    }
   

}