
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.font-family{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
  *{
    margin: 0;
    padding: 0;
    
  }
  body{
    background: rgb(0, 0, 0);
  }
  header{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
  }
  /* sheard style */
  .container{
    max-width: 1060px;
    margin: 50px auto;
    

  }
  .btn-primary {
    border-radius: 42px;
    padding: 16px 40px;
    border: none;
    background: rgb(230, 83, 60);color: rgb(255, 255, 255);
    font-weight: 600;
  }
  /* nav related style */
  nav{
    display: flex;
    justify-content: space-between;
  }
  .nav-title{
    color: rgb(230, 83, 60);
    font-size: 2rem;
    font-weight: 800;
  }
  nav ul{
    display: flex;
    align-items: center;
  }
  nav ul li{
    margin-right: 45px;
    list-style: none;
  }
  nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.rem;
    font-weight: 600;
    line-height: 22px;

  }
.menu{
    display: none;
}
  .home{
    color: rgb(255, 255, 255);
    padding: 8px 20px;
    background: rgb(230, 83, 60);
    border-radius: 30px;
  }
  /* banner related style */
  .banner{  
    display: flex;
    gap: 80px;
    margin-top: 50px;
  }
  
  .banner-title{
    width: 520px;
    margin-top: 50px;
    color: rgb(255, 255, 255);
    font-size: 5rem;
    font-weight: 900;
    line-height: 120%;
    
  }
  .banner-discription{
    width: 520px;
    margin-top: 28px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    line-height: 24px;

  }
  .input-btn{
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .Download{
    margin-top: 28px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    padding: 16px 40px;
    font-weight: 600;
    background: none;
    color: rgb(255, 255, 255);
    


  }
  .input-btn input{
    margin-top: 20px;

  }
  /* habits section style */
  .habits-title {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
    text-align: center;
  }
  .habits-discription{
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    line-height: 24px;
    text-align: center;
  }
  .habits-container{
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    justify-content: center;
  }

  .habits-img-contant img{
    border-radius: 50%;
    justify-content: center;
    align-items: center;

  }
  .habits-img-contant h5{
    margin:20px auto;
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 120%;
    margin-left: 40px;
    
    
  }
 .time{
  padding-left: 35px;
 }
  .habits-img-contant p{
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 18px;
    letter-spacing: 0.3px;
    
  }
/* run related style */
.run{
    padding:40px 55px 30px ;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    margin-top:100px ;
    display: flex;
    gap: 50px;
}
.run-title{
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;

}
.run-discription{
    margin-top: 20px ;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.85rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;

}
.run-img img{
  width: 100%;
  border-radius: 18px;
}
.run-contant button{
  margin-top: 35px;
}
  /* responsive style */
@media screen and (max-width:576px){
    nav ul li a{
        display: none;
    }
    .nav-title{
      margin-left: 20px;
    }
    .menu{
        display: block;
        font-size: 2rem;
    }
    .banner ,
    .run{
      flex-direction: column;
    }
    .banner-contant{
      padding: 20px;
    }
    .banner-title {
      width: 80%;
      font-size: 3rem;
      
    }
    .banner-discription{
      width: 80%;
    }
    .habits-container{
      grid-template-columns: 1fr;
       gap: 30px;
      justify-items: center;
    }
    .habits-title{
      font-size: 2rem;
    }
    .run-contant button{
      width: 100%;
    }
    .run-title{
      font-size: 2.50rem;
    }
   

}